.page {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f4f7fa;
  box-sizing: border-box;
  padding-top: 20px;
}

@media screen and (min-width: 567px) {
  .page {
    padding-top: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 85px;
  }
}
